@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  font-family: "Roboto", sans-serif;
}

body a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: default;
}

.conteneur {
  margin: auto;
  opacity: 1;
  -webkit-animation: loading_acceuil 4s linear;
          animation: loading_acceuil 4s linear;
}

@-webkit-keyframes loading_acceuil {
  0% {
    opacity: 0;
    background: #f3f3f3;
  }
  90% {
    opacity: 0.8;
    background: #f3f3f3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading_acceuil {
  0% {
    opacity: 0;
    background: #f3f3f3;
  }
  90% {
    opacity: 0.8;
    background: #f3f3f3;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  position: absolute;
  top: 600px;
  width: 90%;
  margin: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lettre {
  color: #FF79DA;
  font-size: 30px;
  letter-spacing: 10px;
  margin-top: 100px;
  opacity: 0;
  -webkit-animation: flash 3s linear;
          animation: flash 3s linear;
}

@-webkit-keyframes flash {
  0% {
    color: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    text-shadow: 0 0 7px linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    opacity: 1;
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    text-shadow: 0 0 7px linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    color: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    text-shadow: 0 0 7px linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    opacity: 1;
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    text-shadow: 0 0 7px linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
    opacity: 1;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.lds-ellipsis div {
  position: absolute;
  top: 800px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  right: 50%;
  background: #9356DC;
  opacity: 0;
  -webkit-animation: lds-ellipsis1 1s linear 3;
          animation: lds-ellipsis1 1s linear 3;
}

.lds-ellipsis div:nth-child(2) {
  right: 50%;
  -webkit-animation: lds-ellipsis2 1s linear 3;
          animation: lds-ellipsis2 1s linear 3;
  background: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
  opacity: 0;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
    opacity: 0.5;
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
    opacity: 0.5;
  }
}

.header_acceuil {
  text-align: center;
  background-color: #f3f3f3;
  margin: auto;
  height: 350px;
}

.header_acceuil .logo_header {
  background-color: white;
}

.header_acceuil .logo_header img {
  width: 160px;
  margin-bottom: 15px;
}

.header_acceuil .localisation {
  border-top: 3px solid silver;
  background-color: #dadada;
  height: 40px;
}

.header_acceuil .localisation p {
  margin: auto;
  margin-top: 10px;
  text-transform: capitalize;
}

.header_acceuil .localisation i {
  margin-right: 15px;
}

.header_acceuil .localisation span {
  margin-right: 20px;
}

.header_acceuil h1 {
  width: 350px;
  margin: auto;
  margin-top: 30px;
}

.header_acceuil .lighten {
  color: #666666;
  margin: auto;
}

.btn_acceuil, .btn {
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  background: linear-gradient(170deg, #FF79DA 2%, #9356DC 100%);
  height: 30px;
  width: 200px;
  color: white;
  font-size: 0.9em;
  border-radius: 25px;
  border: #9356DC;
  -webkit-box-shadow: 0px 2px 8px 0px #b8b7b7;
          box-shadow: 0px 2px 8px 0px #b8b7b7;
  margin: auto;
  padding-top: 10px;
  cursor: pointer;
}

.btn_acceuil:hover, .btn:hover {
  background: linear-gradient(170deg, #99E2D0 2%, #FF79DA 100%);
  -webkit-box-shadow: 0px 10px 13px -7px #99E2D0, 0px 0px 3px 0px #9356DC;
          box-shadow: 0px 10px 13px -7px #99E2D0, 0px 0px 3px 0px #9356DC;
}

.filtres {
  margin: auto;
}

.filtres h2 {
  padding-top: 70px;
  margin-left: 50px;
}

.filtres .filtre_gray, .filtres .filtre_purple, .filtres .filtre_gray:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  background-color: #f3f3f3;
  border-radius: 15px;
  width: 330px;
  margin-left: 12%;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3;
  position: relative;
}

.filtres .filtre_gray::before, .filtres .filtre_purple::before, .filtres .filtre_gray:hover::before {
  content: attr(data-count);
  position: absolute;
  background: #9356DC;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 20px;
  left: -10px;
  border-radius: 50%;
  color: white;
  font-size: 0.7rem;
  line-height: 20px;
}

.filtres .filtre_gray p, .filtres .filtre_purple p, .filtres .filtre_gray:hover p {
  text-align: left;
  font-weight: bold;
}

.filtres .filtre_gray .icons, .filtres .filtre_purple .icons {
  margin-left: 25px;
  margin-right: 25px;
  color: #666666;
}

.filtres .filtre_purple, .filtres .filtre_gray:hover {
  background-color: #f2eafb;
}

.filtres .filtre_purple p, .filtres .filtre_gray:hover p {
  text-align: left;
  font-weight: bold;
}

.filtres .filtre_purple i, .filtres .filtre_gray:hover i {
  margin-left: 25px;
  margin-right: 25px;
  color: #9356DC;
}

.flex_space {
  margin-bottom: 80px;
}

.restaurants {
  background-color: #f3f3f3;
  height: 1300px;
  margin: auto;
}

.restaurants h2 {
  padding-top: 70px;
  margin-left: 50px;
}

.acceuil {
  border-radius: 15px;
  background-color: #fff;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0px 2px 8px 0px #b8b7b7;
          box-shadow: 0px 2px 8px 0px #b8b7b7;
}

.acceuil img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.acceuil .image1 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.acceuil .image2 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right 60%;
     object-position: right 60%;
}

.acceuil .image3 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

.acceuil .image4 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
}

.acceuil .position_txt_green, .acceuil .position_txt_green1 {
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 0.83em;
  font-weight: bold;
  border-radius: 3px;
  width: 70px;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 7%;
  right: 5%;
}

.acceuil .position_txt_green1 {
  top: 7%;
}

.acceuil div {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 15px 15px;
  margin-top: 0px;
}

.acceuil div h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

.acceuil div h3 .btn_coeur, .acceuil div h3 .btn_coeur_white:hover {
  color: transparent;
  background: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  right: 30px;
  bottom: 25px;
  cursor: pointer;
  z-index: 0;
  font-size: 1.3rem;
  -webkit-animation: coeur_complet 2s ease-in-out infinite;
          animation: coeur_complet 2s ease-in-out infinite;
}

@-webkit-keyframes coeur_complet {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes coeur_complet {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.acceuil div h3 .btn_coeur_white {
  position: absolute;
  z-index: 0;
  background: white;
  font-size: 1.3rem;
  right: 30px;
  bottom: 25px;
  cursor: pointer;
}

.acceuil div h3 .btn_coeur_white:hover {
  -webkit-animation: coeur_w 1.3s 0.5s linear;
          animation: coeur_w 1.3s 0.5s linear;
}

@-webkit-keyframes coeur_w {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}

@keyframes coeur_w {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}

.acceuil div p {
  margin: 0;
  margin-left: 18px;
  margin-bottom: 10px;
  padding-top: 2px;
  color: #4d4d4d;
}

footer {
  background-color: #333333;
  color: white;
  margin: auto;
  width: 400px;
  height: 170px;
  position: relative;
  top: -60px;
  z-index: 0;
}

footer .logo_white {
  padding-top: 20px;
  width: 80px;
  margin-left: 35px;
  font-family: 'Shrikhand', cursive;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li .fourchette, footer ul li .poignet_de_mains, .main footer ul li .poignet_de_mains, .la_palette footer ul li .poignet_de_mains, .delice footer ul li .poignet_de_mains, .la_francaise footer ul li .poignet_de_mains {
  float: left;
  font-size: 12px;
  padding-top: 5px;
}

footer ul li .poignet_de_mains {
  font-size: 10px;
}

footer ul li .p, footer ul li .pp, .main footer ul li .pp, .la_palette footer ul li .pp, .delice footer ul li .pp, .la_francaise footer ul li .pp {
  margin-left: 10px;
}

footer ul li .pp {
  margin-left: 9px;
}

footer ul .mail {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .header__logo .header--title {
  width: 50%;
  margin: auto;
}

.main .lapalette_dugout, .main .lanote_enchante, .main .a_lafrancaise, .main .delice_des_sens {
  margin: auto;
  height: 300px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.main .lanote_enchante {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main .a_lafrancaise {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% top;
     object-position: 70% top;
}

.main footer {
  background-color: #333333;
  color: white;
  margin: auto;
  width: 400px;
  height: 170px;
  position: relative;
  top: -60px;
  z-index: 0;
  top: -100px;
}

.main footer .logo_white {
  padding-top: 20px;
  width: 80px;
  margin-left: 35px;
  font-family: 'Shrikhand', cursive;
}

.main footer ul {
  list-style-type: none;
}

.main footer ul li {
  margin-bottom: 5px;
}

.main footer ul li .fourchette, .main footer ul li .poignet_de_mains {
  float: left;
  font-size: 12px;
  padding-top: 5px;
}

.main footer ul li .poignet_de_mains {
  font-size: 10px;
}

.main footer ul li .p, .main footer ul li .pp {
  margin-left: 10px;
}

.main footer ul li .pp {
  margin-left: 9px;
}

.main footer ul .mail {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.la_palette footer, .delice footer {
  background-color: #333333;
  color: white;
  margin: auto;
  width: 400px;
  height: 170px;
  position: relative;
  top: -60px;
  z-index: 0;
  top: -170px;
}

.la_palette footer .logo_white, .delice footer .logo_white {
  padding-top: 20px;
  width: 80px;
  margin-left: 35px;
  font-family: 'Shrikhand', cursive;
}

.la_palette footer ul, .delice footer ul {
  list-style-type: none;
}

.la_palette footer ul li, .delice footer ul li {
  margin-bottom: 5px;
}

.la_palette footer ul li .fourchette, .delice footer ul li .fourchette, .la_palette footer ul li .poignet_de_mains, .delice footer ul li .poignet_de_mains {
  float: left;
  font-size: 12px;
  padding-top: 5px;
}

.la_palette footer ul li .poignet_de_mains, .delice footer ul li .poignet_de_mains {
  font-size: 10px;
}

.la_palette footer ul li .p, .delice footer ul li .p, .la_palette footer ul li .pp, .delice footer ul li .pp {
  margin-left: 10px;
}

.la_palette footer ul li .pp, .delice footer ul li .pp {
  margin-left: 9px;
}

.la_palette footer ul .mail, .delice footer ul .mail {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.la_francaise footer {
  background-color: #333333;
  color: white;
  margin: auto;
  width: 400px;
  height: 170px;
  position: relative;
  top: -60px;
  z-index: 0;
  top: -140px;
}

.la_francaise footer .logo_white {
  padding-top: 20px;
  width: 80px;
  margin-left: 35px;
  font-family: 'Shrikhand', cursive;
}

.la_francaise footer ul {
  list-style-type: none;
}

.la_francaise footer ul li {
  margin-bottom: 5px;
}

.la_francaise footer ul li .fourchette, .la_francaise footer ul li .poignet_de_mains {
  float: left;
  font-size: 12px;
  padding-top: 5px;
}

.la_francaise footer ul li .poignet_de_mains {
  font-size: 10px;
}

.la_francaise footer ul li .p, .la_francaise footer ul li .pp {
  margin-left: 10px;
}

.la_francaise footer ul li .pp {
  margin-left: 9px;
}

.la_francaise footer ul .mail {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.btn {
  text-align: center;
  margin-top: 40px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(170deg, #FF79DA 2%, #9356DC 100%);
}

.pointier {
  color: white;
  font-weight: bold;
  padding-right: 0.2%;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 7.5%;
  top: 45px;
  right: 40px;
  text-align: center;
}

.gras {
  padding-right: 20px;
  font-weight: bold;
  width: 5%;
  text-align: center;
  position: absolute;
  height: 100%;
  right: 0px;
}

.white_round {
  position: absolute;
  z-index: -2;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 50%;
}

.white_round .icon_check {
  color: white;
  font-size: 1.3rem;
}

.menu {
  width: 400px;
  margin: auto;
  height: 1250px;
  border-radius: 50px 50px 0px 0px;
  background: #f3f3f3;
  position: relative;
  top: -60px;
}

.menu .a {
  -webkit-animation: a 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: a 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes a {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.menu .a:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 1;
}

.menu .a:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 1;
}

.menu .a:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 1;
}

.menu .a:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  opacity: 1;
}

.menu .a:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 1;
}

.menu .a:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  opacity: 1;
}

.menu .a:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  opacity: 1;
}

.menu .a:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  opacity: 1;
}

.menu h1 {
  padding-top: 0px;
  padding-left: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  font-weight: 400;
}

.menu h1 .btn_coeur, .menu h1 .acceuil div h3 .btn_coeur_white:hover, .acceuil div h3 .menu h1 .btn_coeur_white:hover, .menu h1 .btn_coeur_white:hover {
  color: transparent;
  background: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 0;
  top: 30px;
  font-size: 2rem;
  right: 43px;
  cursor: pointer;
  -webkit-animation: coeur_complet 3s 0.5s linear infinite;
          animation: coeur_complet 3s 0.5s linear infinite;
}

@keyframes coeur_complet {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu h1 .btn_coeur_white {
  z-index: 0;
  background: #f3f3f3;
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  top: 30px;
  right: 43px;
}

.menu h2 {
  border-bottom: 3px solid #99E2D0;
  width: 60px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4d4d4d;
}

article {
  width: 90%;
  margin-left: 20px;
}

article h3 {
  padding-top: 10px;
  margin: 0;
  font-size: 1.1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  overflow: hidden;
  position: relative;
}

.a:hover {
  position: relative;
  cursor: pointer;
}

.a:hover .icon_check {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
  color: #99E2D0;
}

.a:hover .pointier {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  z-index: 1;
  background: white;
  color: black;
}

.a:hover .gras {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
  background: white;
}

.a:hover .slide-left {
  position: absolute;
  right: -100px;
  border-radius: 0px 15px 15px 0px;
  width: 100px;
  height: 100%;
  background: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@media screen and (min-width: 600px) {
  .main {
    width: auto;
  }
  .main .header--title {
    width: 30%;
  }
  .main .lapalette_dugout, .main .lanote_enchante, .main .a_lafrancaise, .main .delice_des_sens {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 55%;
       object-position: center 55%;
    height: 500px;
    margin-top: 20px;
  }
  .main .menu {
    width: 100%;
    height: 1500px;
    border-radius: 0%;
    position: relative;
  }
  .main .menu h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .main .menu h1 .btn_coeur, .main .menu h1 .btn_coeur_white:hover {
    text-align: center;
    left: 50%;
    top: 100px;
    width: 33px;
  }
  .main .menu h1 .btn_coeur_white {
    text-align: center;
    left: 50%;
    top: 100px;
    width: 33px;
  }
  .main .animation_menu {
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
  }
  .main .animation_menu .a {
    height: 90px;
  }
  .main .animation_menu .a h3 {
    font-size: 1.5rem;
  }
  .main .btn {
    font-size: 1.5rem;
    height: auto;
    width: 250px;
    padding-bottom: 20px;
  }
  .main footer {
    width: 100%;
    height: 250px;
    top: -100px;
  }
  .main footer .logo_white {
    text-align: center;
    width: auto;
    font-size: 2rem;
  }
  .main footer ul {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) {
  .conteneur .header_acceuil {
    width: 100%;
  }
  .conteneur .header_acceuil h1 {
    width: 100%;
  }
  .conteneur .header_acceuil .btn_acceuil, .conteneur .header_acceuil .btn {
    margin-top: 50px;
  }
  .conteneur .filtres {
    width: 90%;
    margin-bottom: 20px;
  }
  .conteneur .filtres .flex_space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .conteneur .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: auto;
  }
  .conteneur .restaurants h2 {
    padding-top: 10px;
    text-align: center;
  }
  .conteneur .restaurants .acceuil {
    margin: 20px;
  }
  .conteneur .restaurants .acceuil img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 60%;
       object-position: center 60%;
  }
  .conteneur .restaurants .acceuil h3 {
    width: auto;
  }
  .conteneur .restaurants .acceuil p {
    text-align: center;
  }
  .conteneur .restaurants .flex_around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .conteneur footer {
    width: auto;
    top: -15px;
  }
  .conteneur footer .logo_white {
    text-align: center;
    width: auto;
    font-size: 2rem;
  }
  .conteneur footer ul {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */