$primary: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fond_gris:rgba(214, 214, 214, 0.25);
#conteneur{
    margin: auto;
    max-width: 599px;
}
header{
    border: 1px solid red;
    text-align: center;
    background-color: rgba(214, 214, 214, 0.25);
    img{
        border: 1px solid green;
        width: 160px;
        margin-bottom: 15px;  
    }
    .localisation{
        border-top: 3px solid rgba(177, 177, 177, 0.3);
        background-color: rgba(214, 214, 214, 0.582);
        height: 50px;
        & p{
            border: 1px solid white;
            margin:auto;
            margin-top: 10px;
        }
        & i{
            margin-right: 15px;
            border: 1px solid white;
        }
        & span{
            border: 1px solid white;
            margin-right: 20px;
        }
    } 
    .header h1{
        border:1px solid blueviolet;
        width: 300px;
        margin: auto;
        margin-top: 30px;
    }
    .p{
        border: 1px solid rgb(143, 30, 30);
        margin: auto;       
    }
    input{
        background-color: $secondaire;
        height: 40px;
        width: 185px;
        color: white;
        border-radius: 25px;
        border: $primary;
    }
    .filtres{
        background-color: white;
        & h1{
            border: 1px solid;
            text-align: left;
            margin-left: 15px;
        }
        & span{
            background-color: $primary;
            color:white;
            border-radius: 50px;
            padding-left: 5px;
            font-weight: 400;
            position: relative;
            right: 5px;
        }
        & .case_g{
            height: 55px;
            padding-top: 5px;
            background-color: $fond_gris;
            border-radius: 15px;
            width: 400px;
            margin: auto;
            margin-bottom: 15px;
            box-shadow: 3px 3px 5px rgb(195, 195, 195);
            & p{
                text-align: left;
                font-weight: bold;
            }
            & i{
                color: rgba(10, 10, 10, 0.589);
                margin-left: 25px;
                margin-right: 25px ;  
            }           
        }
        & .case_v{
            height: 55px;
            padding-top: 5px;
            background-color: #f0e8fa;
            border-radius: 15px;
            width: 400px;
            margin: auto;
            margin-bottom: 15px;
            box-shadow: 3px 3px 5px rgb(195, 195, 195);
            & p{
                text-align: left;
                font-weight: bold;
            }
            & i{
                color: $primary;
                margin-left: 25px;
                margin-right: 25px ;  
            }
        }
    }
}
section{
    background-color: $fond_gris;
    width: 430px;
    margin: auto;
    & h1{
        margin-top: 50px;
        padding-top: 50px;
        margin-left: 15px;
    }
    figure{    
        & a{
            text-decoration: none;
        }
        & img{
            width: 100%;
            border-radius: 15px 15px 0 0;
            
        }
        & .txt{
            background-color: $tertiaire;
            color: rgb(64, 136, 64);
            font-size: 0.8em;
            font-weight: bold;
            height: 20px;
            width: 60px;
            text-align: center;
            position:relative;
            margin-left: auto; 
            top: 40px;
            right: 15px;
        }
        & figcaption{
            background-color: white;
            & div{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .figure1{
        border: 1px solid red;
    }
}
