$primary: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fond_gris:rgba(214, 214, 214, 0.25);
$coeur: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);

body{
    font-family: 'Roboto', sans-serif;
    a{
        list-style-type: none;
        text-decoration: none;
    }
}
#conteneur{
    margin: auto;
    max-width: 599px;
    display: flex;
    flex-direction: column;
}
.header_acceuil{
    text-align: center;
    background-color: $fond_gris;
    height: 350px;
    .logo_header{
        background-color: white;
        img{
            width: 160px;
            margin-bottom: 15px;  
        }
    }
    .localisation{
        border-top: 3px solid darken($fond_gris, 10);
        background-color: darken($fond_gris, 10);
        height: 40px;
        font-weight: bold;
        p{
            color: lighten(black, 35);
            margin:auto;
            margin-top: 10px;
        }
        i{
            margin-right: 15px;
        }
        span{
            margin-right: 20px;
        }
    } 
    h1{
        width: 300px;
        margin: auto;
        margin-top: 30px;
    }
    .lighten{
        color: lighten(black, 30);
        margin: auto;       
    }
}
.filtres{
    border: 1px solid;
    background-color: white;
    h2{
        padding-top: 50px;
        text-align: left;
        margin-left: 5%;
    }
    span{
        background-color: $primary;
        color:white;
        border-radius: 50px;
        padding-left: 5px;
        font-weight: 400;
        position: relative;
        right: 5px;
    }
    .case_g{
        height: 55px;
        padding-top: 5px;
        background-color: $fond_gris;
        border-radius: 15px;
        width: 400px;
        margin: auto;
        margin-bottom: 15px;
        box-shadow: 3px 3px 5px rgb(195, 195, 195);
        &:hover{
            @extend .case_v;
        }
        p{
            text-align: left;
            font-weight: bold;
        }
        i{
            margin-left: 25px;
            margin-right: 25px ;  
        }           
    }
    .case_v{
        height: 55px;
        padding-top: 5px;
        background-color: lighten($primary, 35);
        border-radius: 15px;
        width: 400px;
        margin: auto;
        margin-bottom: 15px;
        box-shadow: 3px 3px 5px rgb(195, 195, 195);
        p{
            text-align: left;
            font-weight: bold;
        }
        i{
            color: $primary;
            margin-left: 25px;
            margin-right: 25px ;  
        }
    }
}











.menu{
    background-color: $fond_gris;
    width: 430px;
    margin: auto;
    h2{
        margin-top: 50px;
        padding-top: 50px;
        margin-left: 25px;
    }
    .menu_acceuil{
        border-radius: 15px ;
        background-color: #fff;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        img{
            width: 100%;
            border-radius: 15px 15px 0 0;          
        }
        .position_txt{
            background-color: $tertiaire;
            color: darken($tertiaire, 35);
            font-size: 0.83em;
            font-weight: bold;
            border-radius: 3px;
            width: 70px;
            padding: 5px;
            text-align: center;
            position:absolute;
            top: 7%;
            right: 7%;

        }
        .position_txt2{
            @extend .position_txt; 
            top: 6%;   
            right: 5%;
        }
        div{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 15px 15px;
            margin-top: 0px;
            h3{
                display: flex;
                justify-content: space-between;
                width: 90%;
                margin: auto;
                margin-top: 10px;
                .btn_coeur{
                    color:transparent;
                    background: $coeur;
                   -webkit-background-clip: text;
                            background-clip: text;
                    position: absolute;
                    right: 19.5px;
                    z-index: 0;
                 }
                .btn_coeur_white{
                    z-index: 1;
                    background: white;
                    &:hover{
                        @extend .btn_coeur;
                    }
                }
            }
            p{
                width: 90%;
                margin: auto;
            }
        }
    }
}









footer{
    background-color: lighten(black, 20);
    color: white;
    width: 430px;
    margin: auto;
    height: 170px;
    .logo_white{
        padding-top: 20px;
        width: 80px;
        margin-left: 35px;
        font-family: 'Shrikhand', cursive;
    }
    ul{
        list-style-type: none;
        li{
            margin-bottom: 5px;
            .fourchette {
                float: left;
                font-size: 12px;
                padding-top: 5px;
            }
            .poignet_de_mains{
                @extend .fourchette;
                font-size: 10px;
            }
            .p{
                margin-left: 10px;
            }
            .pp{
                @extend .p;
                margin-left: 9px;
            }
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}






.header_menu{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    img{
        width: 200px;
        margin: auto;
    }
}
.image{
        display: block;
        width: 100%;
        margin: auto;
}
.section_menu{
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    background: $fond_gris;
    h1{
        padding-top: 100px ;
        display: flex;
        justify-content: space-around;
    }
    h2{
        border-bottom: 3px solid $tertiaire;
        width: 50px;
    }
    article{
        width: 90%;
        margin-left: 20px;
        .a{
            background-color: #fff;
            border-radius: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .flex{
            display: flex;
            justify-content: space-between;
        }
        .gras{
            font-weight: 900;
        }
    }  
}











.btn_acceuil{
    display:block;
    text-decoration: none;
    background: linear-gradient(170deg, $secondaire  2%, $primary 100%);
    height: 30px;
    width: 185px;
    color: white;
    border-radius: 25px;
    border: $primary;
    margin:auto;
    padding-top: 10px;
    cursor: pointer;
    &:hover{ 
        background: linear-gradient(170deg, $tertiaire 2%, $secondaire  100%);
        box-shadow: 0px 10px 13px -7px $tertiaire, 0px 0px 3px 0px $primary;
    }
}

// .btn_bkg{
//     @extend .btn_acceuil;
//     position: relative;
//     bottom: 40px;
//     background: rgba($secondaire, 0.58);

// }
.btn{
    @extend .btn_acceuil;
    text-align: center;
    margin-top: 40px;
}





