#conteneur {
  margin: auto;
  max-width: 599px;
}

header {
  border: 1px solid red;
  text-align: center;
  background-color: rgba(214, 214, 214, 0.25);
}

header img {
  border: 1px solid green;
  width: 160px;
  margin-bottom: 15px;
}

header .localisation {
  border-top: 3px solid rgba(177, 177, 177, 0.3);
  background-color: rgba(214, 214, 214, 0.582);
  height: 50px;
}

header .localisation p {
  border: 1px solid white;
  margin: auto;
  margin-top: 10px;
}

header .localisation i {
  margin-right: 15px;
  border: 1px solid white;
}

header .localisation span {
  border: 1px solid white;
  margin-right: 20px;
}

header .header h1 {
  border: 1px solid blueviolet;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

header .p {
  border: 1px solid #8f1e1e;
  margin: auto;
}

header input {
  background-color: #FF79DA;
  height: 40px;
  width: 185px;
  color: white;
  border-radius: 25px;
  border: #9356DC;
}

header .filtres {
  background-color: white;
}

header .filtres h1 {
  border: 1px solid;
  text-align: left;
  margin-left: 15px;
}

header .filtres span {
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  padding-left: 5px;
  font-weight: 400;
  position: relative;
  right: 5px;
}

header .filtres .case_g {
  height: 55px;
  padding-top: 5px;
  background-color: rgba(214, 214, 214, 0.25);
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3;
}

header .filtres .case_g p {
  text-align: left;
  font-weight: bold;
}

header .filtres .case_g i {
  color: rgba(10, 10, 10, 0.589);
  margin-left: 25px;
  margin-right: 25px;
}

header .filtres .case_v {
  height: 55px;
  padding-top: 5px;
  background-color: #f2eafb;
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3;
}

header .filtres .case_v p {
  text-align: left;
  font-weight: bold;
}

header .filtres .case_v i {
  color: #9356DC;
  margin-left: 25px;
  margin-right: 25px;
}

section {
  background-color: rgba(214, 214, 214, 0.25);
  width: 430px;
  margin: auto;
}

section h1 {
  margin-top: 50px;
  padding-top: 50px;
  margin-left: 15px;
}

section .figure1 {
  border: 1px solid red;
  width: 80%;
  margin: auto;
}

section article a {
  text-decoration: none;
}

section article img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

section article .txt {
  background-color: #99E2D0;
  color: #32b091;
  font-size: 0.8em;
  font-weight: bold;
  height: 20px;
  width: 60px;
  text-align: center;
  position: relative;
  margin-left: auto;
  top: 40px;
  right: 15px;
}

section article div {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section article div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

section article div p {
  width: 90%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */