$primary: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fond_gris:rgba(214, 214, 214, 0.25);
#conteneur{
    margin: auto;
    max-width: 599px;
}
header{
    width: 430px;
    margin: auto;
    text-align: center;
    background-color: $fond_gris;
    margin-bottom: 100px;
    .logo_header{
        background-color: white;
        img{
            width: 160px;
            margin-bottom: 15px;  
        }
    }
    .localisation{
        border-top: 3px solid darken($fond_gris, 10);
        background-color: darken($fond_gris, 10);
        height: 40px;
        font-weight: bold;
        p{
            color: lighten(black, 35);
            margin:auto;
            margin-top: 10px;
        }
        i{
            margin-right: 15px;
        }
        span{
            margin-right: 20px;
        }
    } 
    h1{
        width: 300px;
        margin: auto;
        margin-top: 30px;
    }
    .p{
        color: lighten(black, 35);
        margin: auto;       
    }
    .btn {
        display:block;
        background-color: lighten($primary, 5);
        height: 30px;
        width: 185px;
        color: white;
        border-radius: 25px;
        border: $primary;
        margin:auto;
        margin-bottom: 30px;
        padding-top: 10px;
        cursor: pointer;
        text-decoration: none;
    }
    .filtres{
        
        background-color: white;
        h2{
            padding-top: 50px;
            text-align: left;
            margin-left: 15px;
        }
        span{
            background-color: $primary;
            color:white;
            border-radius: 50px;
            padding-left: 5px;
            font-weight: 400;
            position: relative;
            right: 5px;
        }
        .case_g{
            height: 55px;
            padding-top: 5px;
            background-color: $fond_gris;
            border-radius: 15px;
            width: 400px;
            margin: auto;
            margin-bottom: 15px;
            box-shadow: 3px 3px 5px rgb(195, 195, 195);
            p{
                text-align: left;
                font-weight: bold;
            }
            i{
                color: rgba(10, 10, 10, 0.589);
                margin-left: 25px;
                margin-right: 25px ;  
            }           
        }
        .case_v{
            height: 55px;
            padding-top: 5px;
            background-color: lighten($primary, 35);
            border-radius: 15px;
            width: 400px;
            margin: auto;
            margin-bottom: 15px;
            box-shadow: 3px 3px 5px rgb(195, 195, 195);
            p{
                text-align: left;
                font-weight: bold;
            }
            i{
                color: $primary;
                margin-left: 25px;
                margin-right: 25px ;  
            }
        }
    }
}
section{
    background-color: $fond_gris;
    width: 430px;
    margin: auto;
    h1{
        margin-top: 50px;
        padding-top: 50px;
        margin-left: 25px;
    }
    .figures_acceuil{

        border-radius: 15px ;
        background-color: #fff;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        a{
            text-decoration: none;
        }
        img{
            width: 100%;
            border-radius: 15px 15px 0 0;          
        }
        .txt{
            background-color: $tertiaire;
            color: darken($tertiaire, 35);
            font-size: 0.83em;
            font-weight: bold;
            border-radius: 3px;
            width: 70px;
            padding: 5px;
            text-align: center;
            position:relative;
            bottom: 215px; 
            left: 130px;

        }
        div{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 15px 15px;
            margin-top: 0px;
            h2{
                display: flex;
                justify-content: space-between;
                width: 90%;
                margin: auto;
                margin-top: 10px;
            }
            p{
                width: 90%;
                margin: auto;
            }
            // p:nth-child(2) {
            //     padding-bottom: 10px;
            // }
        }
    }
}
footer{
    background-color: lighten(black, 20);
    color: white;
    width: 430px;
    margin: auto;
    height: 170px;
    & .logo_white{
        margin-top: 20px;
        width: 80px;
        margin-left: 35px;
        filter: invert(1);
    }
    ul{
        list-style-type: none;
        li{
            margin-bottom: 5px;
            i {
                margin-right: 10px;
                font-size: 10px;
            }
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}

