body {
  font-family: 'Roboto', sans-serif;
}

#conteneur {
  margin: auto;
  max-width: 599px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_acceuil {
  text-align: center;
  background-color: rgba(214, 214, 214, 0.25);
  height: 350px;
}

.header_acceuil .logo_header {
  background-color: white;
}

.header_acceuil .logo_header img {
  width: 160px;
  margin-bottom: 15px;
}

.header_acceuil .localisation {
  border-top: 3px solid rgba(189, 189, 189, 0.25);
  background-color: rgba(189, 189, 189, 0.25);
  height: 40px;
  font-weight: bold;
}

.header_acceuil .localisation p {
  color: #595959;
  margin: auto;
  margin-top: 10px;
}

.header_acceuil .localisation i {
  margin-right: 15px;
}

.header_acceuil .localisation span {
  margin-right: 20px;
}

.header_acceuil h1 {
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

.header_acceuil .lighten {
  color: #4d4d4d;
  margin: auto;
}

.filtres {
  border: 1px solid;
  background-color: white;
}

.filtres h2 {
  padding-top: 50px;
  text-align: left;
  margin-left: 5%;
}

.filtres span {
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  padding-left: 5px;
  font-weight: 400;
  position: relative;
  right: 5px;
}

.filtres .case_g {
  height: 55px;
  padding-top: 5px;
  background-color: rgba(214, 214, 214, 0.25);
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3;
}

.filtres .case_g p {
  text-align: left;
  font-weight: bold;
}

.filtres .case_g i {
  color: rgba(10, 10, 10, 0.589);
  margin-left: 25px;
  margin-right: 25px;
}

.filtres .case_v, .filtres .case_g:hover {
  height: 55px;
  padding-top: 5px;
  background-color: #f2eafb;
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3;
}

.filtres .case_v p, .filtres .case_g:hover p {
  text-align: left;
  font-weight: bold;
}

.filtres .case_v i, .filtres .case_g:hover i {
  color: #9356DC;
  margin-left: 25px;
  margin-right: 25px;
}

.menu {
  background-color: rgba(214, 214, 214, 0.25);
  width: 430px;
  margin: auto;
}

.menu h2 {
  margin-top: 50px;
  padding-top: 50px;
  margin-left: 25px;
}

.menu .menu_acceuil {
  border-radius: 15px;
  background-color: #fff;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.menu .menu_acceuil a {
  text-decoration: none;
}

.menu .menu_acceuil img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.menu .menu_acceuil .position_txt, .menu .menu_acceuil .position_txt2 {
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 0.83em;
  font-weight: bold;
  border-radius: 3px;
  width: 70px;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 210px;
  left: 130px;
}

.menu .menu_acceuil .position_txt2 {
  bottom: 220px;
}

.menu .menu_acceuil div {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 15px 15px;
  margin-top: 0px;
}

.menu .menu_acceuil div h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.menu .menu_acceuil div h3 .btn_coeur {
  -webkit-text-fill-color: yellow;
}

.menu .menu_acceuil div p {
  width: 90%;
  margin: auto;
}

footer {
  background-color: #333333;
  color: white;
  width: 430px;
  margin: auto;
  height: 170px;
}

footer .logo_white {
  margin-top: 20px;
  width: 80px;
  margin-left: 35px;
  font-family: 'Shrikhand', cursive;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li i {
  margin-right: 10px;
  font-size: 10px;
}

footer ul a {
  text-decoration: none;
  color: white;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
}

.header_menu img {
  width: 200px;
  margin: auto;
}

.image {
  display: block;
  width: 100%;
  margin: auto;
}

.section_menu {
  position: relative;
  bottom: 70px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.section_menu header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_menu h2 {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.section_menu article {
  width: 90%;
  margin-left: 20px;
}

.section_menu article .a {
  background-color: #fff;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.section_menu article .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_menu article .gras {
  font-weight: 900;
}

.btn_acceuil, .btn {
  display: block;
  text-decoration: none;
  background: linear-gradient(170deg, #FF79DA 2%, #9356DC 100%);
  height: 30px;
  width: 185px;
  color: white;
  border-radius: 25px;
  border: #9356DC;
  margin: auto;
  padding-top: 10px;
  cursor: pointer;
}

.btn_acceuil:hover, .btn:hover {
  border: 2px solide;
  background: linear-gradient(170deg, #99E2D0 2%, #FF79DA 100%);
}

.btn {
  text-align: center;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */