
// ****************************************LA PAGE D ACCEUIL DES RESTAURANTS*********************************************************



                            // *********************************************
                            //                  MIXIN 
                            //                  HEADER 
                            // **********************************************

@mixin sommaire_header {
    text-align: center;
    background-color: $fond_gris;
    margin: auto;
    height: 350px;
    .logo_header{
        background-color: white;
        img{
            width: 160px;
            margin-bottom: 15px;  
        }
    }
    .localisation{
        border-top: 3px solid darken($fond_gris, 20);
        background-color: darken($fond_gris, 10);
        height: 40px;
        p{
            margin:auto;
            margin-top: 10px;
            text-transform: capitalize;
        }
        i{
            margin-right: 15px;
        }
        span{
            margin-right: 20px;
        }
    } 
    h1{
        margin: auto;
        margin-top: 30px;
    }
    .lighten{
        color: lighten(black, 40);
        margin: auto;      
    }
}


                                // *********************************************
                                //                  MIXIN 
                                //                  SECTION FILTRES
                                // **********************************************

@mixin filtre_txt{
    text-align: left;
    font-weight: bold;
}


@mixin icons_margin {
    margin-left: 25px;
    margin-right: 25px ; 
}


                                // *********************************************
                                //                         MIXIN 
                                //                  SOMMAIRE RESTAURANT
                                // **********************************************

@mixin restaurant {
    background-color: $fond_gris;
    height: 1300px;
    margin: auto;
}

@mixin h2{
    padding-top: 20px;
    margin-left: 50px;
}

@mixin images_restaurant{
    img{
        height: 175px;
        width: 100%;
        border-radius: 15px 15px 0 0;       
    }
    .image1{
        object-fit: cover;   
        object-position: bottom;
    }
    .image2{
        object-fit: cover;   
        object-position: right 60%;
    }
    .image3{
        object-fit: cover;   
        object-position: left bottom;
    }
    .image4{
        object-fit: cover;   
        object-position: right bottom;
    }
}

@mixin sommaire {
    border-radius: 15px ;
    background-color: #fff;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgb(184, 183, 183);
}
@mixin h3 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

                                // *********************************************
                                //                      MIXIN 
                                //              SOMMAIRE COEUR ANIMATIONS
                                // **********************************************
@mixin coeur_acceuil {
    .btn_coeur{
        color:transparent;
        background: $coeur;
       -webkit-background-clip: text;
                background-clip: text;
        position: absolute;
        right: 30px;
        bottom: 25px;
        cursor: pointer;
        z-index: 0;
        font-size: 1.3rem;
        animation: coeur_complet 2s ease-in-out infinite;
     }
     @keyframes coeur_complet {
            0%{
                transform: scale(0);
            }
            100%{
                transform: scale(1.1);  
            }
    }
    .btn_coeur_white{
        position: absolute;
        z-index: 0;
        background: white;
        font-size: 1.3rem;
        right: 30px;
        bottom: 25px;
        cursor: pointer;
        &:hover{
            @extend .btn_coeur;
            animation: coeur_w 1.3s 0.5s linear;
        }
        @keyframes coeur_w {
            0% {
                transform: scale(0);
            }
            100% {
              transform: scale(2.2);
            }
        }
    }
}


                                    // *********************************************
                                    //                          MIXIN 
                                    //                      TXT GREEN NOUVEAU
                                    // **********************************************
@mixin txt_green {
    background-color: $tertiaire;
    color: darken($tertiaire, 35);
    font-size: 0.83em;
    font-weight: bold;
    border-radius: 3px;
    width: 70px;
    padding: 5px;
    text-align: center;
    position:absolute;
    top: 7%;
    right: 5%;
}


                                    // *********************************************
                                    //                 FOOTER
                                    // **********************************************
@mixin footer {
    background-color: lighten(black, 20);
    color: white;
    width: 100%;
    margin: auto;
    height: 170px;
    position: relative;
    top: -60px;
    z-index: 0;
    .logo_white{
        padding-top: 20px;
        width: 80px;
        margin-left: 35px;
        font-family: 'Shrikhand', cursive;
    }
    ul{
        list-style-type: none;
        li{
            margin-bottom: 5px;
            .fourchette {
                float: left;
                font-size: 12px;
                padding-top: 5px;
            }
            .poignet_de_mains{
                @extend .fourchette;
                font-size: 10px;
            }
            .p{
                margin-left: 10px;
            }
            .pp{
                @extend .p;
                margin-left: 9px;
            }
        }
        .mail{
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}




// ************************************LES MENUS***********************************************





                                // *********************************************
                                //                       MIXIN 
                                //                   HEADER DANS MAIN
                                // **********************************************

@mixin position{
    width: 100%;
    margin: auto;
}

@mixin header{
    display: flex;
    flex-direction: column;
    .header__logo{
        display: flex;
        justify-content: space-between;
        .header--title{
                width: 50%;
                margin: auto;
        }
    }
}



                                // *********************************************
                                //                       MIXIN 
                                //                   IMAGES DES PLATS
                                // **********************************************

@mixin images_menus {
    .lapalette_dugout{
        @include position;
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: top ;  
    }
    .lanote_enchante{
        @extend .lapalette_dugout;
        object-fit: cover;
        object-position: center;
    }
    .a_lafrancaise{
        @extend .lapalette_dugout;
        object-fit: cover;
        object-position: 70% top ; 

    }
    .delice_des_sens{
        @extend .lapalette_dugout;
    }
}

                                        // ************************************
                                        //      MIXIN SECTION BACKGROUND  
                                        // ************************************

@mixin bg_menu {
    height: 1250px;
    border-radius: 50px 50px 0px 0px;
    background: $fond_gris;
    position: relative;
    top: -60px;
}

                                    // *********************************************             
                                    //          MIXIN  ANIMATION COEUR GEANT
                                    // **********************************************

@mixin animation_coeur{
    .btn_coeur{
        color:transparent;
        background: $coeur;
       -webkit-background-clip: text;
                background-clip: text;
        position: absolute;
        z-index: 0;
        top: 30px;
        font-size: 1.7rem;
        right: 20px;
        cursor: pointer;
        animation: coeur_complet 3s 0.5s linear infinite;
    }
    @keyframes coeur_complet {
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);  
        }
    }
    .btn_coeur_white{
        z-index: 0;
        background: $fond_gris;
        position: absolute;
        cursor: pointer;
        font-size: 1.7rem;
        top: 30px;
        right: 20px;
        &:hover{
            @extend .btn_coeur;    
        }
    }
}


                                        // *********************************************
                                        //          MIXIN    ENTREES-PLATS-DESSERTS
                                        // **********************************************
@mixin titre_principale{
    padding-top: 0px ;
    padding-left: 20px;
    font-family: $font-family-title;
    font-size: 1.7rem;
    font-weight: 400;
}

@mixin titre_secondaire{
    border-bottom: 3px solid $tertiaire;
    width: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: lighten(black, 30);
}

@mixin titre_tertiaire {
        padding-top: 10px;
        margin: 0;
        font-size: 1.1rem;
}


                                        // *********************************************
                                        //          MIXIN  ANIMATION ICON CHECK
                                        // **********************************************

@mixin animation_icon_check {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
    color: $tertiaire;
}
@-webkit-keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


                                    // *********************************************
                                    //          MIXIN  ANIMATION POINTIER LEFT
                                    // **********************************************
@mixin pointier_left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    z-index: 1;
    background: white;
    color: black;
}

                                    // *********************************************
                                    //          MIXIN  ANIMATION PRIX LEFT
                                    // **********************************************
@mixin prix_left{
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 1;
    background: white;
}

                                    // *********************************************
                                    //          MIXIN  ANIMATION SLIDE LEFT
                                    // **********************************************
@mixin bordure_gauche {
        position: absolute;
        right: -100px;
        border-radius: 0px 15px 15px 0px;
        width: 100px;
        height: 100%;
        background: $tertiaire;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @-webkit-keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
                  
        }
        100% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
                  
        }
    }
    @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
                  
        }
        100% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
                  
        }
    }
}



                                            // *********************************************
                                            //          MIXIN  ANIMATION SLIDE DOWN
                                            // **********************************************

@mixin animation_slide_down {
    .a {
        -webkit-animation: a 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: a 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes a {
        0% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
            opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
            opacity: 1;
        }
      }
      @keyframes a {
        0% {
          -webkit-transform: translateY(-100px);
                  transform: translateY(-100px);
            opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
            opacity: 1;
        }
      }
    .a:nth-child(1){
        animation-delay: 0.1s;
        opacity: 1;
    }
    .a:nth-child(2){
        animation-delay: 0.2s;
        opacity: 1;
    }
    .a:nth-child(3){
        animation-delay: 0.3s;
        opacity: 1;
    }
    .a:nth-child(4){
        animation-delay: 0.4s;
        opacity: 1;
    }
    .a:nth-child(5){
        animation-delay: 0.5s;
        opacity: 1;
    }
    .a:nth-child(6){
        animation-delay: 0.6s;
        opacity: 1;
    }
    .a:nth-child(7){
        animation-delay: 0.7s;
        opacity: 1;
    }
    .a:nth-child(8){
        animation-delay: 0.8s;
        opacity: 1;
    }
}






                                    // ****************************************
                                    // MIXIN RETOUCHE DES IMAGES RESPONSIVES
                                    // ****************************************




@mixin img_responsive_lapalette{
    width: 100%;
    object-fit: cover;
    object-position: center 55%;
    height: 500px;
    margin-top: 20px;
}