$primary: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fond_gris:rgb(243, 243, 243);
$coeur: linear-gradient(220deg, #9356DC 0%, #FF79DA 100%);
$font-family-title: 'Shrikhand', cursive;
$font-family-body: 'Roboto', sans-serif;